
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.item {
  margin: 4px 0;
}

.todoItem {
  margin: 5px 0 5px 20px;
}

.padding {
  padding: 0 20px;
}

.checkBox {
  margin-left: 20px;
  margin-top: 10px;
}

.lineThough {
  text-decoration: line-through;
}

.inputBox {
  width: 85%;
  padding: 5px;
  border: 1px solid green;
  border-radius: 5px;
  margin-left: 10px;
}

.add-btn{
  margin-right: 20px;
}

